<!DOCTYPE html>

<title>Edit Institution</title>

{% block body %}
    <h1>Edit Institution</h1>

    {{ include('institution/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_institution_index') }}">back to list</a>

    {{ include('institution/_delete_form.html.twig') }}
{% endblock %}
