{% extends 'base.html.twig' %}

{% block title %}Edit Institution{% endblock %}

{% block body %}
    <h1>Edit Institution</h1>

    {{ include('institution/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_institution_index') }}">back to list</a>

    {{ include('institution/_delete_form.html.twig') }}

    {% if users is defined and users is not null and users | length > 0 %}
    {% include "user/index.html.twig" with {'users': users} %}
    {% endif %}
{% endblock %}
