<form method="post" action="{{ path('app_year_detail_delete', {'id': year_detail.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ year_detail.id) }}">
    <button class="">Delete</button>
</form>
