{% extends 'base.html.twig' %}

{% block title %}Edit Mobility{% endblock %}

{% block body %}
    <h1>Edit Mobility</h1>

    {{ include('mobility/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mobility_index') }}">back to list</a>

    {{ include('mobility/_delete_form.html.twig') }}
{% endblock %}
